<h1>レシピ一覧</h1>
<ul>
  <% @recipes.each do |recipe| %>
    <li>
      <h2><%= link_to recipe.title, recipe_path(recipe) %></h2>
      <p><%= truncate(recipe.content, length: 100) %></p>
      <p>カテゴリー: <%= recipe.category %></p>
    </li>
  <% end %>
</ul>